<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title209</title>
    <script>
        var socket;
        var clientId;
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else{
            console.log("您的浏览器支持WebSocket");
            //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
            socket = new WebSocket("ws://192.168.0.111:8080/dream/city/");
            //socket = new WebSocket("${basePath}websocket/${cid}".replace("http","ws"));

            //打开事件
            socket.onopen = function(data) {
                console.log("Socket 已打开");
                console.log(data);
                //socket.send("这是来自客户端的消息" + location.href + new Date());
            };
            //socket.send("这是来自客户端的消息00" + location.href + new Date());
            //获得消息事件
            socket.onmessage = function(msg) {
                //console.log(msg);

                var data = JSON.parse(msg.data);
                console.log(data);
                if (data.messageType == "init"){
                    clientId = data.target;
                    document.getElementById("send").innerText="Send["+clientId+"]";
                }else{
                    var msg = data.msgContent;
                    console.log(msg);
                }


                //发现消息进入
                // 开始处理前端触发逻辑

            };
            //关闭事件
            socket.onclose = function() {
                console.log("Socket已关闭");
            };
            //发生了错误事件
            socket.onerror = function() {
                alert("Socket发生了错误");
                //此时可以尝试刷新页面
            }
        }
        
        function send() {
            var msg = "{\"source\":\""+clientId+"\",\"createtime\":\"Wed Sep 04 14:31:01 CST 2019\",\"infoSourceIP\":\"client\",\"msgContent\":\"18826444048\",\"messageType\":\"getValiCode\",\"otherContent\":\"验证码\",\"target\":\"message\"}";
            socket.send(msg);
        }
    </script>
</head>
<body>
    <a href="javascript:send()" id="send">send[]</a>
</body>
</html>