<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.city.domain.mapper.UserMapper">
    <resultMap id="SysUserResultMap" type="com.dream.city.domain.entity.User">
        <id property="uId" column="uid" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="uName" column="u_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="uPass" column="u_pass" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="uNick" column="u_nick" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="uInvite" column="u_invite" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteById">
        delete from city_user where id=#{id}
    </delete>

    <select id="selectAll"  resultMap="SysUserResultMap">
        select * from city_user
    </select>


    <insert id="save" parameterType="com.dream.city.domain.entity.User" >
        insert into city_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>

            <if test="sex != null" >
                sex,
            </if>
            <if test="age != null" >
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="age != null" >
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <update id="update" parameterType="com.dream.city.domain.entity.User" >
        update city_user
        <set >
            <if test="username != null" >
                u_name = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                u_pass = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                u_nick = #{nick,jdbcType=INTEGER},
            </if>
            <if test="age != null" >
                u_invite = #{invite,jdbcType=INTEGER},
            </if>
        </set>
        where u_id = #{id,jdbcType=BIGINT}
    </update>


    <select id="selectById" resultMap="SysUserResultMap">
        select
        *
        from city_user
        where u_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getUsers" resultMap="SysUserResultMap">
        select * from city_user
    </select>
</mapper>